{% extends 'base.html' %} {% block content %}
<div class="p-6">
  <div class="bg-white flex flex-col font-sans">
    <div class="container mx-auto px-8">
      {%include "navbar.html"%}
      <div class="mx-auto">
        <div class="py-1 border-b border-gray-200">
          <a class="hover:text-blue-500" href="#">Don't have an account?</a>
        </div>

        <form method="post" class="mt-5 py-2">
          {% csrf_token %} {{ form.as_p }}
          <button
            type="submit"
            class="w-1/4 text-white bg-blue-500 hover:bg-blue-600 px-5 py-2 rounded-md"
          >
            Login
          </button>
        </form>
        <div class="py-5 border-t border-gray-200 mt-5">
          <a class="hover:text-blue-500" href="{% url 'reset_password' %}"
            >Forgot password?</a
          >
        </div>
      </div>
      {% endblock %}
    </div>
  </div>
</div>
