{% extends 'base.html' %} {% block content %}
<div class="p-6">
  <div class="bg-white flex flex-col font-sans">
    <div class="container mx-auto px-8">
      {%include "navbar.html"%}

      <link
        href="https://fonts.googleapis.com/css?family=Material+Icons|Material+Icons+Outlined|Material+Icons+Two+Tone|Material+Icons+Round|Material+Icons+Sharp"
        rel="stylesheet"
      />
      <div class="w-full rounded-md bg-white p-8">
        <div class="flex items-center justify-between pb-6">
          <div>
            <h2 class="font-semibold text-gray-600">Leads</h2>
            <span class="text-xs">All potential Leads</span>
          </div>
          <div class="flex items-center justify-between">
            <div class="flex items-center rounded-md bg-gray-50 p-2">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                class="h-5 w-5 text-gray-400"
                viewBox="0 0 20 20"
                fill="currentColor"
              >
                <path
                  fill-rule="evenodd"
                  d="M8 4a4 4 0 100 8 4 4 0 000-8zM2 8a6 6 0 1110.89 3.476l4.817 4.817a1 1 0 01-1.414 1.414l-4.816-4.816A6 6 0 012 8z"
                  clip-rule="evenodd"
                />
              </svg>
              <input
                class="ml-1 block bg-gray-50 outline-none"
                type="text"
                name=""
                id=""
                placeholder="search..."
              />
            </div>
            {% if request.user.id_organisor %}
            <div class="ml-10 space-x-8 lg:ml-40">
              <a
                href="{% url 'leads:lead_create' %}"
                %}
                class="cursor-pointer rounded-md bg-indigo-600 px-4 py-2 font-semibold tracking-wide text-white"
              >
                Create a new Lead
              </a>
            </div>
            {% endif %}
          </div>
        </div>
        <div>
          <div class="-mx-4 overflow-x-auto px-4 py-4 sm:-mx-8 sm:px-8">
            <div
              class="inline-block min-w-full overflow-hidden rounded-lg shadow"
            >
              <table class="min-w-full leading-normal">
                <thead>
                  <tr>
                    <th
                      class="border-b-2 border-gray-200 bg-gray-100 px-5 py-3 text-left text-xs font-semibold uppercase tracking-wider text-gray-600"
                    >
                      First Name
                    </th>
                    <th
                      class="border-b-2 border-gray-200 bg-gray-100 px-5 py-3 text-left text-xs font-semibold uppercase tracking-wider text-gray-600"
                    >
                      Last Name
                    </th>
                    <th
                      class="border-b-2 border-gray-200 bg-gray-100 px-5 py-3 text-left text-xs font-semibold uppercase tracking-wider text-gray-600"
                    >
                      Age
                    </th>
                    <th
                      class="border-b-2 border-gray-200 bg-gray-100 px-5 py-3 text-left text-xs font-semibold uppercase tracking-wider text-gray-600"
                    >
                      agent
                    </th>
                    <th
                      class="border-b-2 border-gray-200 bg-gray-100 px-5 py-3 text-left text-xs font-semibold uppercase tracking-wider text-gray-600"
                    >
                      Action
                    </th>
                  </tr>
                </thead>
                <tbody>
                  {% for lead in leads %}
                  <tr>
                    <td
                      class="border-b border-gray-200 bg-white px-5 py-5 text-sm"
                    >
                      <div class="flex items-center">
                        <div class="h-10 w-10 flex-shrink-0">
                          <img
                            class="h-full w-full rounded-full"
                            src="https://images.unsplash.com/photo-1494790108377-be9c29b29330?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=facearea&facepad=2.2&w=160&h=160&q=80"
                            alt=""
                          />
                        </div>
                        <div class="ml-3">
                          <p class="whitespace-no-wrap text-gray-900">
                            {{lead.first_name}}
                          </p>
                        </div>
                      </div>
                    </td>
                    <td
                      class="border-b border-gray-200 bg-white px-5 py-5 text-sm"
                    >
                      <p class="whitespace-no-wrap text-gray-900">
                        {{lead.last_name}}
                      </p>
                    </td>
                    <td
                      class="border-b border-gray-200 bg-white px-5 py-5 text-sm"
                    >
                      <p class="whitespace-no-wrap text-gray-900">
                        {{lead.age}}
                      </p>
                    </td>
                    <td
                      class="border-b border-gray-200 bg-white px-5 py-5 text-sm"
                    >
                      <p class="whitespace-no-wrap text-gray-900">
                        {{lead.agent}}
                      </p>
                    </td>
                    <td
                      class="border-b border-gray-200 bg-white px-5 py-5 text-sm"
                    >
                      <a
                        href="{% url 'leads:lead_detail' lead.pk %}"
                        class="text-gray-500 hover:text-gray-100 mr-2"
                      >
                        <i class="material-icons-outlined text-base"
                          >visibility</i
                        >
                      </a>
                      <a
                        href="{% url 'leads:lead_update' lead.pk %}"
                        class="text-yellow-400 hover:text-gray-100 mx-2"
                      >
                        <i class="material-icons-outlined text-base">edit</i>
                      </a>
                      <a
                        href="{% url 'leads:lead_delete' lead.pk %}"
                        class="text-red-400 hover:text-gray-100 ml-2"
                      >
                        <i class="material-icons-round text-base"
                          >delete_outline</i
                        >
                      </a>
                    </td>
                  </tr>
                  {% endfor %}
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}
