{% extends 'base.html' %} {% block content %}


      <link
        href="https://fonts.googleapis.com/css?family=Material+Icons|Material+Icons+Outlined|Material+Icons+Two+Tone|Material+Icons+Round|Material+Icons+Sharp"
        rel="stylesheet"
      />
      <div class="w-full rounded-md bg-white p-8">
        <div class="flex items-center justify-between pb-6">
          <div>
            <h1 class="text-4xl text-gray-800">Leads</h2>
              <a class="text-gray-500 hover:text-blue-500" href="{% url 'leads:category-list' %}">
                View categories
            </a>
          </div>
          <div class="flex items-center justify-between">
            <div class="flex items-center rounded-md bg-gray-50 p-2">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                class="h-5 w-5 text-gray-400"
                viewBox="0 0 20 20"
                fill="currentColor"
              >
                <path
                  fill-rule="evenodd"
                  d="M8 4a4 4 0 100 8 4 4 0 000-8zM2 8a6 6 0 1110.89 3.476l4.817 4.817a1 1 0 01-1.414 1.414l-4.816-4.816A6 6 0 012 8z"
                  clip-rule="evenodd"
                />
              </svg>
              <input
                class="ml-1 block bg-gray-50 outline-none"
                type="text"
                name=""
                id=""
                placeholder="search..."
              />
            </div>
            {% if request.user.is_organisor %}
            <div class="ml-10 space-x-8 lg:ml-40">
              <a
                href="{% url 'leads:lead_create' %}"
                %}
                class="cursor-pointer rounded-md bg-indigo-600 px-4 py-2 font-semibold tracking-wide text-white"
              >
                Create a new Lead
              </a>
            </div>
            {% endif %}
          </div>
        </div>
        <div>
          <div class="-mx-4 overflow-x-auto px-4 py-4 sm:-mx-8 sm:px-8">
            <div
              class="inline-block min-w-full overflow-hidden rounded-lg shadow"
            >
              <table class="min-w-full leading-normal">
                <thead>
                  <tr>
                    <th
                      class="border-b-2 border-gray-200 bg-gray-100 px-5 py-3 text-left text-xs font-semibold uppercase tracking-wider text-gray-600"
                    >
                      First Name
                    </th>
                    <th
                      class="border-b-2 border-gray-200 bg-gray-100 px-5 py-3 text-left text-xs font-semibold uppercase tracking-wider text-gray-600"
                    >
                      Last Name
                    </th>
                    <th
                      class="border-b-2 border-gray-200 bg-gray-100 px-5 py-3 text-left text-xs font-semibold uppercase tracking-wider text-gray-600"
                    >
                      Age
                    </th>
                    <th
                      class="border-b-2 border-gray-200 bg-gray-100 px-5 py-3 text-left text-xs font-semibold uppercase tracking-wider text-gray-600"
                    >
                      Email
                    </th>
                    <th
                      class="border-b-2 border-gray-200 bg-gray-100 px-5 py-3 text-left text-xs font-semibold uppercase tracking-wider text-gray-600"
                    >
                    Cell Phone Number
                    </th>
                    <th
                      class="border-b-2 border-gray-200 bg-gray-100 px-5 py-3 text-left text-xs font-semibold uppercase tracking-wider text-gray-600"
                    >
                    Category
                    </th>
                    <th
                      class="border-b-2 border-gray-200 bg-gray-100 px-5 py-3 text-left text-xs font-semibold uppercase tracking-wider text-gray-600"
                    >
                      Action
                    </th>
                  </tr>
                </thead>
                <tbody>
                  {% for lead in leads %}
                  <tr>
                    <td
                      class="border-b border-gray-200 bg-white px-5 py-5 text-sm"
                    >
                      <div class="flex items-center">
                        <div class="h-10 w-10 flex-shrink-0">
                          <img
                            class="h-full w-full rounded-full"
                            src="https://images.unsplash.com/photo-1494790108377-be9c29b29330?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=facearea&facepad=2.2&w=160&h=160&q=80"
                            alt=""
                          />
                        </div>
                        <div class="ml-3">
                          <p class="whitespace-no-wrap text-gray-900">
                            {{lead.first_name}}
                          </p>
                        </div>
                      </div>
                    </td>
                    <td
                      class="border-b border-gray-200 bg-white px-5 py-5 text-sm"
                    >
                      <p class="whitespace-no-wrap text-gray-900">
                        {{lead.last_name}}
                      </p>
                    </td>
                    <td
                      class="border-b border-gray-200 bg-white px-5 py-5 text-sm"
                    >
                      <p class="whitespace-no-wrap text-gray-900">
                        {{lead.age}}
                      </p>
                    </td>
                    <td
                      class="border-b border-gray-200 bg-white px-5 py-5 text-sm"
                    >
                      <p class="whitespace-no-wrap text-gray-900">
                        {{lead.email}}
                      </p>
                    </td>
                    <td
                      class="border-b border-gray-200 bg-white px-5 py-5 text-sm"
                    >
                      <p class="whitespace-no-wrap text-gray-900">
                        {{lead.phone_number}}
                      </p>
                    </td>
                    <td >
                      {% if lead.category %}
                          <span class="px-2 inline-flex text-xs leading-5 font-semibold rounded-full bg-green-100 text-green-800">
                              {{ lead.category.name }}
                          </span>
                      {% else %}
                          <span class="px-2 inline-flex text-xs leading-5 font-semibold rounded-full bg-gray-100 text-gray-800">
                              Unassigned
                          </span>
                      {% endif %}
                  </td>
                    <td
                      class="border-b border-gray-200 bg-white px-5 py-5 text-sm"
                    >
                      <a
                        href="{% url 'leads:lead_detail' lead.pk %}"
                        class="text-gray-500 hover:text-gray-100 mr-2"
                      >
                        <i class="material-icons-outlined text-base"
                          >visibility</i
                        >
                      </a>
                      <a
                        href="{% url 'leads:lead_update' lead.pk %}"
                        class="text-yellow-400 hover:text-gray-100 mx-2"
                      >
                        <i class="material-icons-outlined text-base">edit</i>
                      </a>
                      <a
                        href="{% url 'leads:lead_delete' lead.pk %}"
                        class="text-red-400 hover:text-gray-100 ml-2"
                      >
                        <i class="material-icons-round text-base"
                          >delete_outline</i
                        >
                      </a>
                    </td>
                  </tr>
                  {% endfor %}
          
                </tbody>
              </table>
            </div>
            {% if unassigned_leads.exists %}
            <div class="mt-5 flex flex-wrap -m-4">
                <div class="p-4 w-full">
                    <h1 class="text-4xl text-gray-800">Unassigned leads</h1>
                </div>
                {% for lead in unassigned_leads %}
                <div class="p-4 lg:w-1/2 md:w-full">
                    <div class="flex border-2 rounded-lg border-gray-200 p-8 sm:flex-row flex-col">
                        <div class="w-16 h-16 sm:mr-8 sm:mb-0 mb-4 inline-flex items-center justify-center rounded-full bg-indigo-100 text-indigo-500 flex-shrink-0">
                            <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-8 h-8" viewBox="0 0 24 24">
                                <path d="M22 12h-4l-3 9L9 3l-3 9H2"></path>
                            </svg>
                        </div>
                        <div class="flex-grow">
                            <h2 class="text-gray-900 text-lg title-font font-medium mb-3">
                                {{ lead.first_name }} {{ lead.last_name }}
                            </h2>
                            <p class="leading-relaxed text-base">
                                {{ lead.description }}
                            </p>
                            <a href="{% url 'leads:assign-agent' lead.pk %}" class="mt-3 text-indigo-500 inline-flex items-center">
                                Assign an agent
                                <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-4 h-4 ml-2" viewBox="0 0 24 24">
                                    <path d="M5 12h14M12 5l7 7-7 7"></path>
                                </svg>
                            </a>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        {% endif %}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}
