{% extends 'base.html' %} 
{% load tailwind_filters %}
{% block content %}

      <div class="mx-auto">
        <div class="py-1 border-b border-gray-200">
          <a
            href="{% url 'agents:agent_list' %}"
            class="uppercase rounded text-xl text-gray-300 pointer"
            >Go back to Agents</a
          >
          <hr />
          <h1>Update agent</h1>
          <form method="post">
            {% csrf_token %} {{ form|crispy }}

            <button type="submit">Update agent</button>
          </form>
          {% endblock %}
        </div>
      </div>
    </div>
  </div>
</div>
